@model AccountsManager.Web.Models.CompanyRegistationModel

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm())
{
    <div>
        @Html.TextAreaFor(b => b.CompanyName, new {@class = "form-control", placeholder = "Company Name"})
    </div>
    <a class="btn btn-success" class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Create Company</a>
}

