@model AccountsManager.Web.Models.CompanyRegistationModel

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm())
{
    <div>
        <span asp-validation-for="CompanyName" class="text-danger"></span>
        @Html.TextAreaFor(company => company.CompanyName, new {@class = "form-control", placeholder = "Company Name"})
    </div>
    <button type="submit" class="btn btn-success">Create Company</button>
}

